[submodule "CryptoSwift"]
	path = CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
[submodule "B68FloatingLabelTextField"]
	path = B68FloatingLabelTextField
	url = https://github.com/dirkfabisch/B68FloatingLabelTextField.git
[submodule "XCGLogger"]
	path = XCGLogger
	url = https://github.com/DaveWoodCom/XCGLogger.git
