<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
      <key>Title</key>
      <string>Nightscout</string>
      <key>FooterText</key>
      <string>Upload data to Nightscout</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>nightscout_upload_enabled</string>
			<key>Title</key>
			<string>Upload Enabled</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
    <dict>
      <key>Type</key>
      <string>PSGroupSpecifier</string>
      <key>FooterText</key>
      <string>Nightscout base URL. Should be in the following format: https://{YOUR-SITE}.azurewebsites.net/api/v1</string>
    </dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>nightscout_url</string>
			<key>KeyboardType</key>
			<string>URL</string>
      <key>Title</key>
      <string>URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
    <dict>
      <key>Type</key>
      <string>PSGroupSpecifier</string>
      <key>FooterText</key>
      <string>Nightscout passphrase. This is the API_SECRET value on the server</string>
    </dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>nightscout_api_secret</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
      <key>Title</key>
      <string>API Secret</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
